p {
  color: red;
  font-size: 50px;
}

h1 {
  color: blue;
}

h4 {
  color: pink;
}

.test {
  color: #0077b3
}

.anotherTest {
  color:orange;
  background-color: blue;
}

.example {
  color: #006400
  font-family: fantasy;
}
